<ion-header #head>
  <ion-navbar hideBackButton="true">
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-navbar>
  <ion-searchbar class="searchbar" (ionInput)="filterSales($event)" animated="true" showCancelButton="true" cancelButtonText="Cancelar"
    placeholder="Buscar chollo"></ion-searchbar>
</ion-header>

<ion-content padding id="page2" auto-hide hide-header [header]="head">
  <ion-card *ngFor="let chollo of chollos" [hidden]="(chollo.visible == false) || (categoryService.getCategoryId() > -1 && categoryService.getCategoryId() != chollo.getCategoria().getId())">
    <ion-item (click)="goToDetails(chollo)">
      <ion-avatar item-start>
        <img src="assets/img/profile.jpg">
      </ion-avatar>
      <h2>{{chollo.getUsuario().getAlias()}}</h2>
      <ion-icon name="star" item-end color="primary" *ngIf="chollo.getUsuario().getAdministrador()"></ion-icon>
      <!-- <h3>Reputación: {{getUserLikes(chollo.getUsuario())) - (getUserDDislikes(chollo.getUsuario()))}}</h3> -->
    </ion-item>

    <img src="assets/img/4.jpg" (click)="goToDetails(chollo)">

    <ion-card-content (click)="goToDetails(chollo)">
      <ion-item>
          <h2>{{chollo.getTitulo()}}</h2>
          <p>{{chollo.getFechaActualizacion()}}</p>
        </ion-item>
      <ion-list>
          <ion-item-divider color="light">Precio</ion-item-divider>
          <ion-item>{{chollo.getPrecioAntes()}}€ a {{chollo.getPrecioDespues()}}€</ion-item>
          <!-- <ion-item-divider color="light">Reacciones</ion-item-divider>
          <ion-item>{{cholloFacade.getLikesCountFor(chollo)}} Likes {{cholloFacade.getDislikesCountFor(chollo)}} Dislikes</ion-item> -->
      </ion-list>
    </ion-card-content>

    <!-- <ion-row>
      <ion-col>
        <button ion-button icon-left clear small (click)="addLikeTo(chollo.getId())" color="{{getColorForSave(chollo,true)}}">
          <ion-icon name="thumbs-up"></ion-icon>
          <div>
            <span #likes>{{cholloFacade.getLikesCountFor(chollo)}}</span> Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small (click)="addDislikeTo(chollo.getId())" color="{{getColorForSave(chollo,false)}}">
          <ion-icon name="thumbs-down"></ion-icon>
          <div #dislikes>{{cholloFacade.getDislikesCountFor(chollo)}} Dislikes</div>
        </button>
      </ion-col>
    </ion-row> -->

  </ion-card>

  <ion-fab bottom right #fab>
    <button ion-fab (click)="goToNewSale()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>