<ion-header>
  <ion-navbar>
    <ion-title>
      {{chollo.getTitulo()}}
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="goToNewSale(chollo.getId())" *ngIf="chollo.getUsuario().getId() == usuario.getId()">
        Editar
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding id="page5">
  <ion-card id="details-card25">
    <ion-list>
        <ion-item>
            <ion-avatar item-start>
              <img src="assets/img/profile.jpg">
            </ion-avatar>
            <h2>{{chollo.getUsuario().getAlias()}}</h2>
            <h3>Reputación: {{(usuarioFacade.getLikesOf(chollo.getUsuario())) - (usuarioFacade.getDislikesOf(chollo.getUsuario()))}}</h3>
          </ion-item>
        <img src="assets/img/4.jpg">
      <ion-list>
          <ion-item-divider color="light">Precio</ion-item-divider>
          <ion-item>{{chollo.getPrecioAntes()}}€ a {{chollo.getPrecioDespues()}}€</ion-item>
          <ion-item-divider color="light">Fecha</ion-item-divider>
          <ion-item>{{chollo.getFechaActualizacion() | date: 'medium'}}</ion-item>
          <ion-item-divider color="light">Descripción</ion-item-divider>
          <ion-item>{{chollo.getDescripcion()}}</ion-item>
          <ion-item-divider color="light">Empresa</ion-item-divider>
          <ion-item>{{chollo.getUsuario().getAdministrador() ? chollo.getEmpresaPatrocinada().getNombre() : chollo.getEmpresaNoPatrocinada()}}</ion-item>
          <ion-item-divider color="light">Categoría</ion-item-divider>
          <ion-item>{{chollo.getCategoria().getNombre()}}</ion-item>
        </ion-list>
      <ion-item color="none" id="details-list-item66">
        <ion-icon name="share" item-left></ion-icon>
        Compartir
      </ion-item>
      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small (click)="addLikeTo(chollo.getId())" color="{{getColorForSave(chollo,true)}}">
            <ion-icon name="thumbs-up"></ion-icon>
            <div>
              <span #likes>{{cholloFacade.getLikesCountFor(chollo)}}</span> Likes</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small (click)="addDislikeTo(chollo.getId())" color="{{getColorForSave(chollo,false)}}">
            <ion-icon name="thumbs-down"></ion-icon>
            <div #dislikes>{{cholloFacade.getDislikesCountFor(chollo)}} Dislikes</div>
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <button *ngIf="favorito == false" id="details-button5" ion-button full outline (click)="addToFavourites(chollo.getId())">
          <ion-icon name="heart"></ion-icon>
        </button>
        <button *ngIf="favorito == true" id="details-button4" ion-button color="assertive" full (click)="deleteFromFavourites(chollo.getId())">
          <ion-icon name="heart"></ion-icon>
        </button>
      </ion-row>
    </ion-list>
  </ion-card>
</ion-content>