<ion-header>
  <ion-navbar>
    <ion-title>
      {{titulo}}
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="goToNewSale()" *ngIf="esMio">
        Editar
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding id="page5">
  <ion-card id="details-card25" *ngFor="let chollo of chollos">
    <ion-list>
        <ion-item>
            <ion-avatar item-start>
              <img src="assets/img/profile.jpg">
            </ion-avatar>
            <h2>{{chollo.getUsuario().getAlias()}}</h2>
            <h3>Reputación: {{userLikes}} Likes {{userDislikes}} Dislikes</h3>
            <ion-icon name="star" item-end color="primary" *ngIf="chollo.getUsuario().getAdministrador()"></ion-icon>
          </ion-item>
        <img src="assets/img/4.jpg">
      <ion-list>
          <ion-item-divider color="light">Precio</ion-item-divider>
          <ion-item>De {{chollo.getPrecioAntes()}}€ a {{chollo.getPrecioDespues()}}€</ion-item>
          <ion-item-divider color="light">Fecha</ion-item-divider>
          <ion-item>{{chollo.getFechaActualizacion()}}</ion-item>
          <ion-item-divider color="light">Enlace</ion-item-divider>
          <ion-item><a>{{chollo.getEnlace()}}</a></ion-item>
          <ion-item-divider color="light">Descripción</ion-item-divider>
          <ion-item>{{chollo.getDescripcion()}}</ion-item>
          <ion-item-divider color="light">Empresa</ion-item-divider>
          <ion-item>{{chollo.getUsuario().getAdministrador() ? chollo.getEmpresaPatrocinada().getNombre() : chollo.getEmpresaNoPatrocinada()}}</ion-item>
          <ion-item-divider color="light">Categoría</ion-item-divider>
          <ion-item>{{chollo.getCategoria().getNombre()}}</ion-item>
        </ion-list>
      <ion-item-divider color="light">Social</ion-item-divider>
      <ion-item color="none" id="details-list-item66">
        <ion-icon name="share" item-left></ion-icon>
        Compartir
      </ion-item>
      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small (click)="addLike()" *ngIf="liked != undefined && !liked" color="dark">
            <ion-icon name="thumbs-up"></ion-icon>
              <div #likes>{{likesCount}} Likes</div>
          </button>
          <button ion-button icon-left clear small (click)="removeLike()" *ngIf="liked != undefined && liked" color="positive">
            <ion-icon name="thumbs-up"></ion-icon>   
              <div #likes>{{likesCount}} Likes</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small (click)="addDislike()" *ngIf="disliked != undefined && !disliked" color="dark">
            <ion-icon name="thumbs-down"></ion-icon>
            <div #dislikes>{{dislikesCount}} Dislikes</div>
          </button>
          <button ion-button icon-left clear small (click)="removeDislike()" *ngIf="disliked != undefined && disliked" color="positive">
            <ion-icon name="thumbs-down"></ion-icon>
            <div #dislikes>{{dislikesCount}} Dislikes</div>
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <button *ngIf="favorito != undefined && favorito == false" id="details-button5" ion-button full outline (click)="addToFavourites(chollo.getId())">
          <ion-icon name="heart"></ion-icon>
        </button>
        <button *ngIf="favorito != undefined && favorito == true" id="details-button4" ion-button color="assertive" full (click)="deleteFromFavourites(chollo.getId())">
          <ion-icon name="heart"></ion-icon>
        </button>
      </ion-row>
    </ion-list>
  </ion-card>
</ion-content>